<!doctype html>
<html>
	<head>
		<title>Nieuws demo</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<% include logonews %>
	<body>
