
<div class="menu">
  <nav>

    <% for (var i = 0; i < categorieen.length; i++) { %>
      <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
    <% } %>
    <% include line %>
  </nav>
</div>
